*, *:before, *:after {
    box-sizing: inherit;
}

/* The CSS box-sizing property allows us to include the
padding and border in an element's total width and height. */
html {
    box-sizing: border-box;
}


h1 {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 55px;
    color: #04B783;
    margin-left: 60px;
    padding-top: 50px;
}

.landingImage {
    width: 320px;
    height: 200px;
    border: none;
    padding-top: 50px;
    padding-bottom: 0px;
    display: block;
    margin-left: auto;
  /* margin-right: auto; */
  }

  .dashLogo {
    width: 290px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
  }

header {
  background-color:white;
  display: flex;
  flex-direction: row;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
}

#left {
  border-style: none;
  border-radius: 2em;
  display: flex;
  width: 25vw;
  justify-content: space-around;
}

#friends {
border-style: none;
border-radius: 0.6em;
background:white;
margin-left: 1em;
margin-top: 0.8em;
margin-right: 1em;
margin-bottom: 1em;
width: 25vw;
}

#mainSection {
  border-style: none;
  display: flex;
  width: 75vw;
  flex-direction: column;
}

#dashWelcome {
  border-style: solid;
  border-color: pink;
  border-style: none;
  border-radius: 0.6em;
  background:white;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  width: 50vw;
}

#chat {
  border-style: none;
  background: white;
  border-radius: 0.6em;
  display: flex;
  width: 25vw;
}

#news {
  border-style: none;
  background: white;
  border-radius: 0.6em;
  display: flex;
  width: 25vw;
}

#newsChat {
  display: flex;
  flex-direction: row;
}

#events {
  border-style: none;
  border-radius: 0.6em;
  background:white;
  margin-top: 0.8em;
  margin-right: 1em;
 margin-bottom: 1em;
 width: 100%;
}

#right {
border-style: none;
border-radius: 2em;
display: flex;
width: 25vw;
justify-content: space-around;
}


#tasks {
    border-style: none;
    border-radius: 0.6em;
    background:white;
    width: 25vw;
margin-left: 1em;
margin-top: 0.8em;
margin-right: 1em;
margin-bottom: 1em;
width: 25vw;
}

footer {
  border-style: solid;
  border-color: brown;
  justify-content: flex-end;
  bottom: 0;
  margin-top: auto;
}

#chatContainer {
  border-style: solid;
  display: flex;
}

#newsContainer {
  border-style: solid;
}
#newsCardsContainer {
  overflow: auto;
  height: 500px;
}