*, *:before, *:after {
    box-sizing: inherit;
}

/* The CSS box-sizing property allows us to include the
padding and border in an element's total width and height. */
html {
    box-sizing: border-box;
}

#welcome {
    background: white;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 55px;
    color: #04B783;
    margin-left: 60px;
    padding-top: 50px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 30px;
    color: #FAC0B6;
    padding-top: 15px;
    padding-left: 15px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    padding-top: 15px;
    padding-left: 15px;
}

p {
    font-family: 'Raleway', sans-serif;

}

.landingImage {
    width: 320px;
    height: 200px;
    border: none;
    padding-top: 50px;
    padding-bottom: 0px;
    display: block;
    margin-left: 200px;
   /* margin-right: 50px; */
  }

  .dashLogo {
    width: 250px;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
  }
header {
  background-color:white;
  display: flex;
  flex-direction: row;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#left {
  border-style: none;
  border-radius: 2em;
  display: flex;
  width: 25vw;
  justify-content: space-around;
  height: 100vh;
}

#friends {
border-style: none;
border-radius: 0.6em;
background:white;
margin-left: 1em;
margin-top: 0.8em;
margin-right: 1em;
margin-bottom: 1em;
width: 25vw;
}

#mainSection {
  border-style: none;
  display: flex;
  width: 75vw;
  flex-direction: column;
}

#dashWelcome {
  border-radius: 0.6em;
  background:white;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  width: 50vw;
  background: #FAC0B6;
  display:flex;
  justify-content: space-between;
  padding-left: 20px;
}

#chat {
  border-style: none;
  background: white;
  border-radius: 0.6em;
  display: flex;
  flex-direction: column;
  width: 24vw;
}

#news {
  border-style: none;
  background: white;
  border-radius: 0.6em;
  display: flex;
  width: 24vw;
  flex-direction: column;
  margin-left: 1.6em;
}

#newsChat {
  display: flex;
  flex-direction: row;
  align-content: center;

}

#events {
  border-style: none;
  border-radius: 0.6em;
  background:white;
  margin-top: 0.8em;
  margin-right: 1em;
 margin-bottom: 1em;
 width: 100%;

}

#right {
border-style: none;
border-radius: 2em;
display: flex;
width: 25vw;
justify-content: space-around;
height: 100vh;
}


#tasks {
    border-style: none;
    border-radius: 0.6em;
    background:white;
    width: 25vw;
margin-left: 1em;
margin-top: 0.8em;
margin-right: 1em;
margin-bottom: 1em;
width: 25vw;
}

footer {
border-style: none;
  background: #FAC0B6;
  height: 6.5rem;
  text-align: center;
  margin-top: auto;
}

#chatContainer {
  border-style: none;
  display: flex;
}

#newsContainer {
  border-style: solid;
}
#newsCardsContainer {
  overflow: auto;
  height: 500px;
}

body{
    background: white;
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 30px;
    color: #FAC0B6;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 20px;
}

#add-news-btn {
color: white;
background-color: #0DB583;
font-family: 'Poppins', sans-serif;
font-size: 15px;
border: none;
margin-left: 22px;
}

#save-news-btn {
    color: white;
    background-color: #FAC0B6;
    font-family: 'Poppins', sans-serif;
border: none;
}

#close-news-btn {
    color: white;
    background-color: #0DB583;
    font-family: 'Poppins', sans-serif;
border: none;
}
#addEventsButton {
  color: white;
  background-color: #0DB583;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  border: none;
  margin-left: 22px;
  margin-bottom: 20px;
  }

#close-news-btn {
    color: white;
    background-color: #0DB583;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: none;
    margin-left: 22px;
    }

    #save-events-btn {
      color: white;
      background-color: #FAC0B6;
      font-family: 'Poppins', sans-serif;
  border: none;
  }

#see-todo-tasks-btn {
  background-color:none;
  border: solid #F4C1B7;
  border-radius: 1em;
  color: #F4C1B7;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#logout {
    color: white;
    background-color: #0DB583;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    }

.userPhoto {
  padding-bottom: 1em;
  padding-right: 1em;
}

.bodyContainer {
  background-color: #B3B3C8;
}

#nav-container {
  width: 25%;
  height: 50px;
}

#add-task-btn {
  color: white;
  background-color: #0DB583;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  border: none;
  margin-left: 22px;
  margin-bottom: 20px;
  }

#cancel-event-btn {
  color: white;
  background-color: #0DB583;
  font-family: 'Poppins', sans-serif;
border: none;
}

#save-task-btn {
  color: white;
  background-color: #FAC0B6;
  font-family: 'Poppins', sans-serif;
border: none;
}